<!DOCTYPE html>
<html>
    <head>
        <style>
            nav {
                text-align: center;
             } 
        {% block style %}
         {% endblock %}
        </style>
        <title> Blogz </title>
    </head>
    <header>
    </header> 
    <body>
           <div>
                <nav class = "nav-bar">
                    <a href='/'>Home</a>

                    <a href = '/blog'> View Blogs</a>
                    
                    <a href = "/newpost">Post a Blog</a>

                    <a href="/login"> Log In </a>

                    <a href="/logout"> Log Out </a>
                </nav>
            </div>
                {% block content %}
                {% endblock %}
    </body>
</html>

